.column-card{
    width:900px;
    height:400px;
    background:#ffffff;
    border-radius:12px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.chart-title{
    margin-bottom:20px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.chart-box{
    width:100%;
    height:300px;
}