.give{
    margin-left: 230px;
    margin-top: 30px;
}

.give1{
    display: flex;
    gap: 100px;
   
    align-items: center;
}

.give3{
    margin-left: 850px;
    height: 40px;
    width: 200px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.give4{
    display: flex;
    gap: 710px;
    margin-top: 50px;
}
.give5{
    width: 450px;
    border-radius: 5px;
    height: 30px;
}
.give11{
    display: flex;
    gap: 15px;
    margin-top: 8px;
   justify-content: center;
   align-items: center;
    
}
.give12{
  width: 35px;
  height: 30px;
  background-color: rgb(39, 158, 227);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.give14{
  width: 35px;
  height: 30px;
  background-color: rgb(16, 213, 65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}
.give16{
  width: 35px;
  height: 30px;
  background-color: rgb(244, 32, 17);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}




.give21{
    display: flex;
    gap: 15px;
    margin-top: 8px;
   justify-content: center;
   align-items: center;
    
}
.give22{
  width: 35px;
  height: 30px;
  background-color: rgb(39, 158, 227);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.give24{
  width: 35px;
  height: 30px;
  background-color: rgb(16, 213, 65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}
.give26{
  width: 35px;
  height: 30px;
  background-color: rgb(244, 32, 17);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}




.give31{
    display: flex;
    gap: 15px;
    margin-top: 8px;
   justify-content: center;
   align-items: center;
    
}
.give32{
  width: 35px;
  height: 30px;
  background-color: rgb(39, 158, 227);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.give34{
  width: 35px;
  height: 30px;
  background-color: rgb(16, 213, 65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}
.give36{
  width: 35px;
  height: 30px;
  background-color: rgb(244, 32, 17);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}



.give41{
    display: flex;
    gap: 15px;
    margin-top: 8px;
   justify-content: center;
   align-items: center;
    
}
.give42{
  width: 35px;
  height: 30px;
  background-color: rgb(39, 158, 227);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.give44{
  width: 35px;
  height: 30px;
  background-color: rgb(16, 213, 65);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}
.give46{
  width: 35px;
  height: 30px;
  background-color: rgb(244, 32, 17);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}